{% load static %}
<html>
    <head>
        <title>Hello, World!</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <nav>
            <li><a href="{% url 'home_page' %}">Home</a></li>
            <li><a href="{% url 'about_page'%}">About</a></li>
        </nav>
    
        {% block content %}
        {% endblock %}
        <footer>
            The current time is {{time}}. <br>
            This page is brought to you by the letters
            {{letter1}} and {{letter2}} and the number {{number}}
        </footer>
    </body>
</html>