<!--
    File: restaurant/base.html
    Description: base template for the restaurant application.
    Author: William Fugate wfugate@bu.edu
-->
 {% load static %}
 <html>
    <head>
        <title>McBurgertown's Famous Burgers</title>
        <link rel="stylesheet" href="{% static 'restaurant/styles.css' %}">
    </head>
    <body>
        <h1>McBurgertown's Famous Burgers</h1>
        <nav>
            <ul>
            <li>
            <a href="{% url 'order' %}">Place an Order</a> 
            </li>
            <li>
            <a href="{% url 'main' %}">Main Page</a> 
            </li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>