<!--
    File: restaurant/main.html
    Description: front page for restaurant application
    Author: William Fugate wfugate@bu.edu
-->

{% extends 'restaurant/base.html' %}
{% block content %}
    <img src="https://static.wikia.nocookie.net/familyguyfanon/images/d/d4/McBurgertown.png/revision/latest?cb=20231212001622" alt="McBurgertown Restaurant" width="75%">
    
    <h2>Hours of Operation</h2>
    <p>Monday: 6:00 AM - 11:00 PM</p>
    <p>Tuesday: 6:00 AM - 11:00 PM</p>
    <p>Wednesday: 6:00 AM - 11:00 PM</p>
    <p>Thursday: 6:00 AM - 11:00 PM</p>
    <p>Friday: 6:00 AM - 12:00 AM</p>
    <p>Saturday: 6:00 AM - 12:00 AM</p>
    <p>Sunday: 7:00 AM - 10:00 PM</p>
{% endblock %}