<!--
    File: restaurant/order.html
    Description: order page and form for restaurant application
    Author: William Fugate wfugate@bu.edu
-->
{% extends 'restaurant/base.html' %}
{% block content %}
<div>
    <h1>Place an order!</h1>
    <form action="{% url 'confirmation' %}" method="post">
        {% csrf_token %}
        
        <h2>Make your meal:</h2>
        <input type="checkbox" name="Hamburger" value="hamburger">Hamburger $8.99<br>
        <input type="checkbox" name="Cheeseburger" value="cheeseburger">Cheeseburger $9.99
        <input type="checkbox" name="Add veggies" value="veggies">Add veggies? $1.00<br>
        <input type="checkbox" name="Fries" value="fries">Fries $3.99<br>
        <input type="checkbox" name="Curly Fries" value="curly_fries">Curly Fries $4.99<br>

        <h2>Specials!!!!!!</h2>
        <input type="checkbox" name="special" value="{{ special }}">{{ special }} $10.99<br>

        <h2>Any special instructions?</h2>
        <textarea name="special_instructions" rows="3" cols="60"></textarea><br>

        <h2>Contact Information:</h2>
        Name: <input type="text" name="name"><br><br>
        Email: <input type="email" name="email"><br><br>
        Phone: <input type="tel" name="phone"><br><br>
        
        <input type="submit" value="Place Order">
    </form>
</div>
{% endblock %}