<!--
    File: about_page.html
    Description: About page for Del Water Gap Quotes & Images.
    Author: William Fugate wfugate@bu.edu
-->
{% extends 'quotes/base.html' %}

    {% block content %}

        <h1>Welcome to the Quote of the Day from <a href="https://en.wikipedia.org/wiki/Del_Water_Gap" target="_blank">Del Water Gap</a></h1>
        <p> Del Water Gap (Samuel Holden Jaffe) is a musician and producer from Brooklyn NY. He is known for many famous songs including "Ode to a Conversation Stick in Your Throat," and "Perfume."</p>
    {% endblock %}
