<!--
    File: mini_insta/base.html
    Description: base template for the mini_insta application.
    Author: William Fugate wfugate@bu.edu
-->

{% load static %}

<html>
    <head>
        <title>Mini Instagram</title>
        <link rel="stylesheet" href="{% static 'mini_insta/styles.css' %}">
    </head>
    <body>
        <h1>Mini Instagram</h1>
        
        <div class="content-wrapper">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            <nav> <!-- navigation links -->
                {% if user.is_authenticated %} <!-- check if 'user' is in context and authenticated-->
                    <a href="{% url 'create_post' user.profile.pk %}">Create Post</a>
                    <a href="{% url 'show_feed' user.profile.pk %}">View Feed</a>
                    <a href="{% url 'show_profile' user.profile.pk %}">My Profile</a>
                    <a href="{% url 'search' user.profile.pk %}">Search</a>
                {% else %}
                    <a href="{% url 'show_all_profiles' %}">View Profiles</a>
                {% endif %}

                {% if user.is_authenticated %}
                Logged in as: {{ user.username }}
                {% else %}
                Not Logged in.
                {% endif %}
            </nav>
        </footer>
    </body>
</html>