<!--
    File: mini_insta/base.html
    Description: base template for the mini_insta application.
    Author: William Fugate wfugate@bu.edu
-->

{% load static %}

<html>
    <head>
        <title>Mini Instagram</title>
        <link rel="stylesheet" href="{% static 'mini_insta/styles.css' %}">
    </head>
    <body>
        <h1>Mini Instagram</h1>
        
        <div class="content-wrapper">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            <nav> <!-- navigation links -->
                {% if profile %} <!-- check if 'profile' is in context and show the button to navigate to it-->
                    <a href="{% url 'create_post' profile.pk %}">Create Post</a>
                    <a href="{% url 'show_feed' profile.pk %}">View Feed</a>
                    <a href="{% url 'show_profile' profile.pk %}">My Profile</a>
                    <a href="{% url 'search' profile.pk %}">Search</a>
                {% else %}
                    <a href="{% url 'show_all_profiles' %}">View Profiles</a>
                {% endif %}
            </nav>
        </footer>
    </body>
</html>