<!--
    File: mini_insta/base.html
    Description: base template for the mini_insta application.
    Author: William Fugate wfugate@bu.edu
-->

{% load static %}

<html>
    <head>
        <title>Mini Instagram</title>
        <link rel="stylesheet" href="{% static 'mini_insta/styles.css' %}">
    </head>
    <body>
        <h1>Mini Instagram</h1>

        <div class="auth-status">
            {% if user.is_authenticated %} <!--check if the user is authenticated and if so show the username-->
                <span>Logged in as: <strong>{{ user.username }}</strong></span>
                <form method="POST" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="logout-link">Logout</button> <!--logout button-->
                </form>
            {% else %} <!--if not authenticated show login link-->
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>

        
        <div class="content-wrapper">
            {% block content %}
            <!--app goes here-->
            {% endblock %}
        </div>

        <footer>
            <nav>
                <a href="{% url 'show_all_profiles' %}">View All Profiles</a>
                
                {% if user.is_authenticated %} <!--show additional links if the user is logged in-->
                    {% with user.profile as my_profile %}
                        {% if my_profile %}
                            <a href="{% url 'show_profile' my_profile.pk %}">My Profile</a>
                        {% endif %}
                    {% endwith %}
                    <a href="{% url 'create_post' %}">Create Post</a>
                    <a href="{% url 'show_feed' %}">View Feed</a>
                    <a href="{% url 'search' %}">Search</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'create_profile' %}">Create Profile</a>
                {% endif %}
            </nav>
        </footer>
    </body>
</html>