{% extends 'mini_insta/base.html' %}

{% block content %}
    <h2>All Profiles</h2>
    <ul>
        {% for profile in profiles %}
            <li>
                {{ profile.username }}<br>
                <a href="{% url 'show_profile' profile.pk %}">
                    {{ profile.display_name }}
                </a><br>
                {% if profile.profile_image_url %}
                    <a href="{% url 'show_profile' profile.pk %}">
                        <img src="{{ profile.profile_image_url }}" alt="{{ profile.username }}'s profile image" width="100">
                    </a>
                {% else %}
                    <em>No profile image</em>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
