{% extends 'mini_insta/base.html' %}

{% block content %}
    <h2>All Profiles</h2>
    <ul>
        {% for profile in profiles %}
            <li>
                {{ profile.username }}<br>
                Display Name: {{ profile.display_name }}<br>
                {% if profile.profile_image_url %}
                    <img src="{{ profile.profile_image_url }}" alt="{{ profile.username }}'s profile image" width="100">
                {% else %}
                    <em>No profile image</em>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
