<!--
    File: mini_insta/show_profile.html
    Description: template to display a chosen profile.
    Author: William Fugate wfugate@bu.edu
-->

{% extends 'mini_insta/base.html' %}

{% block content %}
    <div class="profile-header">
        <div class="profile-top">
            <div class="profile-image">
                {% if profile.profile_image_url %}
                    <img src="{{ profile.profile_image_url }}" alt="{{ profile.username }}'s profile image" width="200">
                {% else %}
                    <p>No profile image</p>
                {% endif %}
            </div>
            
            <div class="profile-info">
                <h2>{{ profile.display_name }}</h2>
                <p><strong>Username:</strong> {{ profile.username }}</p>
                <p><strong>Joined:</strong> {{ profile.join_date }}</p>
                
                <div class="profile-stats">
                    <p>Followers: <a href="{% url 'show_followers' profile.pk %}">{{profile.get_num_followers}}</a></p>
                    <p>Following: <a href="{% url 'show_following' profile.pk %}">{{profile.get_num_following}}</a></p>
                </div>
            </div>
        </div>
        <div class="profile-bio">
            <p><strong>Bio:</strong> {{ profile.bio_text }}</p>
        </div>
    </div>
    {% if user.is_authenticated and not is_owner %}
    {% if is_following %}
        <a href="{% url 'delete_follow' profile.pk %}" class="btn">Unfollow</a>
    {% else %}
        <a href="{% url 'follow_profile' profile.pk %}" class="btn">Follow</a>
    {% endif %}
    {% endif %}
    {% if is_owner %} <!-- added is_owner boolean to view to see if this is our profile-->
    <a href="{% url 'update_profile' %}" class="btn">Update Profile</a>
    {% endif %}

    <h3>Posts</h3>
    {% for post in profile.get_all_posts %}
        <div class="post">
            <p><strong>Posted on:</strong> {{ post.timestamp }}</p>
            
            <a href="{% url 'show_post' pk=post.pk %}">
            {% with first_photo=post.get_all_photos|first %}
                {% if first_photo %}
                    <img src="{{ first_photo.get_image_url }}" alt="Post image" width="400">
                {% else %}
                    <img src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg" alt="No image available" width="400">
                {% endif %}
            {% endwith %}
            </a>
            
            {% if post.caption %}
                <p><strong>Caption:</strong> {{ post.caption }}</p>
            {% endif %}
        </div>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
{% endblock %}
