<!--
    File: mini_insta/show_all_profiles.html
    Description: template to show all profiles.
    Author: William Fugate wfugate@bu.edu
-->
{% extends 'mini_insta/base.html' %}

{% block content %}
    <h2>All Profiles</h2>
    <ul>
        {% for profile in profiles %} <!--iterate through each profile and display its data-->
            <li>
                {{ profile.username }}<br>
                <a href="{% url 'show_profile' profile.pk %}"> <!-- wrap display name in an a tag to link it to the specific profile-->
                    {{ profile.display_name }}
                </a><br>
                {% if profile.profile_image_url %} <!-- make sure profile image url exists-->
                    <a href="{% url 'show_profile' profile.pk %}"> <!-- wrap image in an a tag to link it to the specific profile-->
                        <img src="{{ profile.profile_image_url }}" alt="{{ profile.username }}'s profile image" width="100">
                    </a>
                {% else %}
                    <em>No profile image</em>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
