<!--
    File: mini_insta/update_profile_form.html
    Author: William Fugate wfugate@bu.edu
    Description: template to display form for updating a profile.
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <h2>Update Profile for {{profile.display_name}}</h2>
    
    <form method="POST" action="{% url 'update_profile' profile.pk%}">
        {% csrf_token %}
        
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <button type="submit">Confirm Updates</button>
                    <a href="{% url 'show_profile' profile.pk %}">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
    {% else %}
        <p>You must be logged in to update your profile.</p>
    {% endif %}
{% endblock %}