body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
}


footer {
    margin-top: 40px;
    padding: 10px;
    border-top: 1px solid #ccc;
    font-size: 0.9em;
}

img {
    border-radius: 5px;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}